
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(167, 176, 195);
}

.header {
    padding: 0px 0px 36px 0px;
    
}

h1 {
    display: flex;
    justify-content: center;
}

/* Question Card */

.card {
    box-shadow: 8px 8px 20px 2px rgb(39, 45, 53);
    border: black;
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(128, 151, 175);
}

.card-header {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    border-radius: 25px 25px 25px 25px;
}

.card-body {
    background-color: rgb(171, 196, 221);
    
}

.card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
}

.card-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

.card-footer {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    border-radius: 0px 0px 25px 25px;
}

/* buttons */

.btn-primary {
    color: #212529;
    border-radius: 20px;
    background-color: rgb(119, 156, 204);
    border-color: rgb(77, 106, 144);
}
.btn-primary:hover {
    color: #212529;
    background-color: rgb(91, 118, 153);
    border-color: rgb(91, 118, 153);
}

#start-btn {
    justify-content: center;
    border-radius: 20px;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 3px 5px 20px 2px rgb(39, 45, 53);
}

/* footer */

